language: elixir
elixir:
  - 1.6
  - 1.5
  - 1.4
  - 1.3
otp_release:
  - 21.0
  - 20.3
  - 19.3
  - 18.3
matrix:
  exclude:
    - elixir: 1.6
      otp_release: 18.3
    - elixir: 1.5
      otp_release: 21.0
    - elixir: 1.4
      otp_release: 21.0
    - elixir: 1.3
      otp_release: 21.0
    - elixir: 1.3
      otp_release: 20.0
script: mix test
